.toolbox-vars {
    --border-radius-size: 15px;
    --side-bar-padding-width: 2em;
    --box-shadow-normal: 3px 3px 5px 3px rgba(0, 0, 0, 0.2);
    --box-shadow-hover: 3px 3px 6px 3px rgba(0, 0, 0, 0.25);
}

.toolbox-sidebar {
    display: flex;
    flex-direction: column;

    position: fixed;
    right: 0;
    top: 0;
    max-height: 90%;
    max-width: 25%;
    padding-top: var(--side-bar-padding-width);
    padding-right: var(--side-bar-padding-width);
}

.toolbox-button {
    background-color: white;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    margin-bottom: 0.5em;
    margin-left: auto;

    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
}

.toolbox-button .icon {
    font-size: 1.5em;
    user-select: none;
}

.toolbox-panel {
    flex-shrink: 1;
    flex-direction: column;

    max-height: 100%;
    height: auto;
    overflow: scroll;
    background-color: white;
    border-radius: var(--border-radius-size);

    padding: 1em;
}

.toolbox-shadow {
    box-shadow: var(--box-shadow-normal);
    transition: box-shadow 0.25s ease-out;
}

.toolbox-shadow:hover {
    box-shadow: var(--box-shadow-hover);
}